<div class="appbox column" style="height:calc(100vh - 20px);">
  <div class="header row">

    <div class="filler row">
      <div class="map-tab round-tabs row">
        <div class="filler">
          map tab
        </div>

        <div class="icon">
          ^
        </div>
      </div>
      <div class="tool-tab  row">

        <div class="icon">
          A
        </div>
        <div class="icon">
          D
        </div>
        <div class="icon">
          M
        </div>
      </div>

    </div>
    <div class="side-width search-tab round-tabs row">
      <div class="icon">
        >
      </div>
      <div class="filler">
        search
      </div>

    </div>
  </div>
  <div class="content row" style="height: 85%; ">
    <div class="map-contents filler">
      <div class="map-picker"  style="z-index: 2;">

<ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>

      </div>

<div style="width: 100%; height: 100%; z-index: 1;"
     leaflet 
     [leafletOptions]="options">
</div>

    </div>
    <div class="point-list side-width column">

<ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>

    </div>
  </div>
</div>

