.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.filler {
  flex: 1;
}

.side-width {
  flex: 0 0 350px;
}

.icon {
  flex: 0 0 35px;
  width: 35px;
  height: 35px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: yellow;
  margin-left: 10px;
}

.map-tab {
  width: calc(450px - 0px);
  height: 100%;
  background-color: tan;
}

.tool-tab {
  height: 100%;
  background-color: pink;
}

.search-tab {
  height: 100%;
  background-color: salmon;
}

.map-picker {
  overflow: auto; /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_overflow */

  position: absolute;
  left: 5;
  height: 850px;
  width: 450px;
  background-color: tan;
}

.map-contents {
  background-color: lightgreen;
  text-align: center;
}

.point-list {
  background-color: salmon;
}

.appbox {
  margin: 0;
  /*
  max-height: 100vh;
  overflow: auto;
  */
    height: 800px;
}

.appbox .header {
  flex: 0 1 auto;
}

.appbox .content {
  flex: 1 1 auto;
}

.round-tabs {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}




.map-item {
  margin: auto;
  padding: 15px;
}


.map-item:hover {
  background-color: rgba(0,0,0,0.2) ;
}

.map-item.selected {
  background-color: rgba(0,128,0,0.15) ;
}
.map-item.selected:hover {
  background-color: rgba(0,128,0,0.3) ;
}

.map-thumb {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.6);
  margin-bottom: 10px;
}


.map-label {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  font-size: 16pt;
  padding: 6px;
  color: black ;

  border: 3px solid rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.1);
}

.map-label.selected {
  border: 3px solid rgba(0,128,0,0.9);
  background-color: rgba(128,255,128,0.5) ;
}



.hide {
  visibility: hidden;
}